@import "./admonition.css";
@import "./badge.css";
@import "./button.css";
@import "./docsearch.css";
@import "./footer.css";
@import "./navbar.css";
@import "./sidebar.css";
@import "./table-of-contents.css";
@import "./toggle.css";

/* Tokens */
@import url("./design-tokens/colors-light.css");
@import url("./design-tokens/typescale.css");
@import url("./design-tokens/button.css");
@import url("./design-tokens/search.css");

/* Overrides the default Infima (https://infima.dev/) variables */
:root {
  /* Fonts and text size */
  --ifm-font-family-base: var(--eui-sys-font-family-standard), Helvetica, Arial,
    sans-serif;
  --ifm-heading-font-family: var(--eui-sys-font-family-standard), Helvetica,
    Arial, sans-serif;
  --ifm-h1-font-size: var(--eui-sys-typescale-headline-large-font-size);
  --ifm-h2-font-size: var(--eui-sys-typescale-headline-medium-font-size);
  --ifm-h3-font-size: var(--eui-sys-typescale-headline-small-font-size);
  --ifm-font-weight-bold: var(--eui-sys-typescale-label-medium-font-weight);
  /* Content colors */
  --ifm-color-content: var(--eui-sys-layout-on-surface);
  --ifm-color-content-secondary: var(--eui-sys-layout-on-surface-subdued);
  --ifm-color-primary: var(--eui-sys-layout-on-surface);
  --ifm-color-primary-dark: var(--eui-sys-brand-state-primary-02-hover);
  --ifm-color-primary-darker: var(--eui-sys-brand-state-primary-01-active);
  --ifm-color-primary-darkest: var(--eui-sys-brand-state-primary-01-hover);
  --ifm-color-primary-light: var(--eui-sys-brand-state-secondary-01-active);
  --ifm-color-primary-lighter: var(--eui-sys-brand-state-primary-02-hover);
  --ifm-color-primary-lightest: var(--eui-sys-brand-state-primary-02-active);
  --ifm-color-emphasis: var(--eui-sys-brand-tertiary-01);
  /* Links */
  --ifm-link-color: var(--eui-sys-brand-secondary-01);
  --ifm-link-hover-color: var(--eui-sys-brand-state-secondary-01-hover);
  /* Footer */
  --ifm-footer-background-color: var(--eui-sys-layout-surface-02);
  --ifm-footer-link-color: var(--eui-sys-brand-secondary-01);
  --ifm-footer-link-hover-color: var(--eui-sys-brand-state-secondary-01-hover);
  /* Sidebar */
  --ifm-menu-color: var(--eui-sys-brand-on-primary-02);
  --ifm-menu-color-active: var(--eui-sys-brand-on-primary-02);
  --ifm-menu-color-background-active: var(
    --eui-sys-brand-state-primary-02-active
  );
  --ifm-menu-color-background-hover: var(
    --eui-sys-brand-state-primary-02-hover
  );
  /* Breadcrumb */
  --ifm-breadcrumb-item-background-active: var(
    --eui-sys-brand-state-primary-02-active
  );
  /* Table of Contents */
  --ifm-toc-link-color: var(--eui-sys-brand-on-primary-02);
  /* Buttons */
  --ifm-button-background-color: var(
    --eui-comp-primary-button-container-color-default
  );
  /* Code blocks */
  --ifm-code-font-size: 95%;
  /* Inline code */
  --ifm-code-background: var(--eui-sys-layout-surface-02);
}

@font-face {
  font-family: var(--eui-sys-font-family-standard);
  src: url("/static/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

/*
*****************
-----------------
  DOCS CONTENT
_________________
*****************
*/

/* h4 text within the main content */
.theme-doc-markdown {
  --ifm-h4-font-size: var(--eui-sys-typescale-title-medium-font-size);
}

/* Links within documentation content */
.theme-doc-markdown a,
.theme-edit-this-page {
  --ifm-link-decoration: var(--eui-sys-typescale-link-medium-text-decoration);
}

.theme-doc-markdown a:hover,
.theme-edit-this-page:hover {
  color: var(--eui-sys-brand-state-secondary-01-hover);
}

.theme-doc-markdown .hash-link {
  text-decoration: none;
}

.theme-doc-markdown .hash-link:hover {
  text-decoration: var(--eui-sys-typescale-link-medium-text-decoration);
}

/* Main content container padding */
.container {
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (max-width: 996px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*
*****************
-----------------
     ASSETS
_________________
*****************
*/

/* Center img elements within the main content */
.theme-doc-markdown img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Add border to screenshots */
.theme-doc-markdown img:not(.no-border) {
  border: 1px solid var(--eui-sys-layout-container-01);
  border-radius: 5px;
}

/* Remove border from img tags within tables */
.theme-doc-markdown table tr td img {
  border: none !important;
}

/* Inline code elements wrapped in an anchor tag */
a:has(> code) {
  text-decoration: none;
}

/*
*****************
-----------------
   OTHER PAGES
_________________
*****************
*/

.page-not-found-content a {
  --ifm-link-decoration: var(--eui-sys-typescale-link-medium-text-decoration);
}
