/*
*****************
-----------------
     CONFIG
_________________
*****************
*/

/* Tokens */
@import url("./design-tokens/colors-light.css");
@import url("./design-tokens/typescale.css");
@import url("./design-tokens/button.css");

/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

/* Overrides the default Infima (https://infima.dev/) variables */
:root {
  /* Fonts and text size */
  --ifm-font-family-base: var(--eui-sys-font-family-standard), Helvetica, Arial,
    sans-serif;
  --ifm-heading-font-family: var(--eui-sys-font-family-standard), Helvetica,
    Arial, sans-serif;
  --ifm-h1-font-size: var(--eui-sys-typescale-headline-large-font-size);
  --ifm-h2-font-size: var(--eui-sys-typescale-headline-medium-font-size);
  --ifm-h3-font-size: var(--eui-sys-typescale-headline-small-font-size);
  --ifm-font-weight-bold: var(--eui-sys-typescale-label-medium-font-weight);
  /* Content colors */
  --ifm-color-content: var(--eui-sys-brand-on-primary-02);
  --ifm-color-content-secondary: #404067;
  --ifm-color-primary: var(--eui-sys-layout-on-surface);
  --ifm-color-primary-dark: #80809a;
  --ifm-color-primary-darker: #404067;
  --ifm-color-primary-darkest: #000035;
  --ifm-color-primary-light: #60e524;
  --ifm-color-primary-lighter: #4ee794;
  --ifm-color-primary-lightest: #dff6d5;
  --ifm-color-emphasis: #404067;
  /* Links */
  --ifm-link-color: var(--eui-sys-brand-secondary-01);
  --ifm-link-hover-color: var(--eui-sys-brand-state-secondary-01-hover);
  /* Footer */
  --ifm-footer-background-color: var(--eui-sys-layout-surface-02);
  --ifm-footer-link-color: var(--eui-sys-brand-secondary-01);
  --ifm-footer-link-hover-color: var(--eui-sys-brand-state-secondary-01-hover);
  /* Sidebar */
  --ifm-menu-color: var(--eui-sys-brand-on-primary-02);
  --ifm-menu-color-active: var(--eui-sys-brand-on-primary-02);
  --ifm-menu-color-background-active: var(
    --eui-sys-brand-state-primary-02-active
  );
  --ifm-menu-color-background-hover: var(
    --eui-sys-brand-state-primary-02-hover
  );
  /* Breadcrumb */
  --ifm-breadcrumb-item-background-active: var(
    --eui-sys-brand-state-primary-02-active
  );
  /* ToC */
  --ifm-toc-link-color: var(--eui-sys-brand-on-primary-02);
  /* Buttons */
  --ifm-button-background-color: var(
    --eui-comp-primary-button-container-color-default
  );
  /* Code blocks */
  --ifm-code-font-size: 95%;
  /* Inline code */
  --ifm-code-background: var(--eui-sys-layout-surface-02);
}

/*
*****************
-----------------
   NAVIGATION
_________________
*****************
*/

/* Top-level navigation */
.navbar__link--active {
  font-weight: var(--eui-sys-typescale-label-medium-font-weight);
}

.navbar__logo img {
  height: 75%;
  vertical-align: middle !important;
}

/* Sidebar */
aside nav,
button[title="Collapse sidebar"] {
  border-right: 1px solid var(--eui-sys-layout-container-01);
}

aside nav,
nav.navbar--fixed-top {
  background-color: var(--eui-sys-layout-surface-02);
}

/* Collapse sidebar button */
button[title="Collapse sidebar"] {
  background-color: var(--eui-sys-layout-surface-02);
  border: none;
}

button[title="Collapse sidebar"]:hover {
  background-color: var(--eui-sys-brand-state-primary-02-hover);
}

button[title="Collapse sidebar"] svg path {
  fill: var(--eui-sys-brand-secondary-01);
}

/* Expand sidebar "button" */
div[title="Expand sidebar"] svg path {
  fill: var(--eui-sys-brand-secondary-01);
}

div[title="Expand sidebar"] {
  background-color: var(--eui-sys-layout-surface-02);
}

div[title="Expand sidebar"]:hover {
  background-color: var(--eui-sys-brand-state-primary-02-hover);
}

/* Table of Contents */
.theme-doc-toc-mobile {
  background-color: var(--eui-sys-brand-state-primary-02-active) !important;
}

.theme-doc-toc-mobile ul.table-of-contents > li > a:first-child {
  font-weight: var(--eui-sys-typescale-label-medium-font-weight);
}

/*
*****************
-----------------
  DOCS CONTENT
_________________
*****************
*/

/* h4 text within the main content */
.theme-doc-markdown {
  --ifm-h4-font-size: var(--eui-sys-typescale-title-medium-font-size);
}

/* Links within documentation content */
.theme-doc-markdown a,
.theme-edit-this-page {
  --ifm-link-decoration: var(--eui-sys-typescale-link-medium-text-decoration);
}

.theme-doc-markdown a:hover,
.theme-edit-this-page:hover {
  color: var(--eui-sys-brand-state-secondary-01-hover);
}

.theme-doc-markdown .hash-link {
  text-decoration: none;
}

.theme-doc-markdown .hash-link:hover {
  text-decoration: var(--eui-sys-typescale-link-medium-text-decoration);
}

/* Main content container padding */
.container {
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (max-width: 996px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*
*****************
-----------------
   ADMONITIONS
_________________
*****************
*/

.theme-admonition {
  margin-top: 0.5rem;
}

/* Caution admonition */
.theme-admonition-caution {
  background-color: var(--eui-sys-support-containers-warning-container);
  border-color: var(--eui-sys-support-containers-on-warning-container);
  color: var(--eui-sys-layout-on-surface);
}

.theme-admonition-caution a {
  text-decoration-color: var(--eui-sys-support-containers-on-warning-container);
}

.theme-admonition-caution svg path {
  fill: var(--eui-sys-support-containers-on-warning-container);
}

/* Tip admonition */
.theme-admonition-tip {
  background-color: var(--eui-sys-support-containers-success-container);
  border-color: var(--eui-sys-support-containers-on-success-container);
  color: var(--eui-sys-layout-on-surface);
}

.theme-admonition-tip a {
  text-decoration-color: var(--eui-sys-support-containers-on-success-container);
}

.theme-admonition-tip svg path {
  fill: var(--eui-sys-support-containers-on-success-container);
}

/* Danger admonition */
.theme-admonition-danger {
  background-color: var(--eui-sys-support-containers-critical-container);
  border-color: var(--eui-sys-support-containers-on-critical-container);
  color: var(--eui-sys-layout-on-surface);
}

.theme-admonition-danger a {
  text-decoration-color: var(
    --eui-sys-support-containers-on-critical-container
  );
}

.theme-admonition-danger svg path {
  fill: var(--eui-sys-support-containers-on-critical-container);
}

/* Info admonition */
.theme-admonition-info {
  background-color: var(--eui-sys-support-containers-info-container);
  border-color: var(--eui-sys-support-containers-on-info-container);
  color: var(--eui-sys-layout-on-surface);
}

.theme-admonition-info a {
  text-decoration-color: var(--eui-sys-support-containers-on-info-container);
}

.theme-admonition-info svg path {
  fill: var(--eui-sys-support-containers-on-info-container);
}

/* Note admonition */
.theme-admonition-note {
  background-color: var(--eui-sys-layout-surface-02);
  border-color: var(--eui-sys-layout-on-surface-variant-subdued);
  color: var(--eui-sys-layout-on-surface);
}

.theme-admonition-note a {
  text-decoration-color: var(--eui-sys-layout-on-surface-variant-subdued);
}

.theme-admonition-note svg path {
  fill: var(--eui-sys-layout-container-02);
}

/*
*****************
-----------------
     ALERTS
_________________
*****************
*/

.alert a:hover {
  text-decoration-thickness: inherit;
}

details {
  border: none !important;
  box-shadow: none !important;
}

/* Details and summary elements - Examples */
.custom-details-example {
  background-color: var(--eui-sys-layout-container-01);
  color: var(--eui-sys-layout-on-container);
}

.custom-details-example summary::before {
  border-color: transparent transparent transparent
    var(--eui-sys-layout-on-container) !important;
}

.custom-details-example .collapsibleContent_i85q {
  border-top: 1px solid var(--eui-sys-layout-on-container) !important;
}

.custom-details-example .collapsibleContent_i85q a {
  color: inherit;
  text-decoration-color: var(--eui-sys-layout-on-container) !important;
}

.custom-details-example .collapsibleContent_i85q a:hover {
  text-decoration-color: var(
    --eui-sys-brand-state-secondary-01-hover
  ) !important;
  color: var(--eui-sys-brand-state-secondary-01-hover) !important;
}

/* Details and summary elements - Troubleshooting */
.custom-details-troubleshooting {
  background-color: var(--eui-sys-support-containers-info-container);
  color: var(--eui-sys-layout-on-surface);
}

.custom-details-troubleshooting summary::before {
  border-color: transparent transparent transparent
    var(--eui-sys-support-containers-on-info-container) !important;
}

.custom-details-troubleshooting .collapsibleContent_i85q {
  border-top: 1px solid var(--eui-sys-support-containers-on-info-container) !important;
}

.custom-details-troubleshooting .collapsibleContent_i85q a {
  color: inherit;
  text-decoration-color: var(
    --eui-sys-support-containers-on-info-container
  ) !important;
}

.custom-details-troubleshooting .collapsibleContent_i85q a:hover {
  text-decoration-color: var(
    --eui-sys-brand-state-secondary-01-hover
  ) !important;
  color: var(--eui-sys-brand-state-secondary-01-hover) !important;
}

/*
*****************
-----------------
    FOOTER
_________________
*****************
*/

.footer {
  border-top: 1px solid var(--eui-sys-layout-container-01);
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  height: 14px;
  margin-top: inherit;
}

/* Footer links on smaller screens */
@media only screen and (max-width: 996px) {
  .footer__link-item {
    padding: 0.5rem 0;
  }
}

/*
*****************
-----------------
     ASSETS
_________________
*****************
*/

/* Center img elements within the main content */
.theme-doc-markdown img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Add border to screenshots */
.theme-doc-markdown img:not(.no-border) {
  border: 1px solid var(--eui-sys-layout-container-01);
  border-radius: 5px;
}

/* Remove border from img tags within tables */
.theme-doc-markdown table tr td img {
  border: none !important;
}

/* Inline code elements wrapped in an anchor tag */
a:has(> code) {
  text-decoration: none;
}

/*
*****************
-----------------
    BADGES
_________________
*****************
*/

.badge--primary {
  border: none;
  background-color: var(--eui-sys-brand-secondary-01);
  font-size: 50%;
  font-weight: var(--eui-sys-typescale-label-small-font-weight);
  margin-bottom: 10px;
  text-transform: capitalize;
  vertical-align: middle !important;
}

/*
*****************
-----------------
    BUTTONS
_________________
*****************
*/

.primary-button-large-text-only {
  border: none;
  background-color: var(--eui-comp-primary-button-container-color-default);
  border-radius: var(--eui-comp-primary-button-container-border-border-radius);
  color: var(--eui-comp-primary-button-text-color-default);
  font-size: var(--eui-comp-primary-button-text-font-font-size);
  font-weight: var(--eui-comp-primary-button-text-font-font-weight);
  line-height: var(--eui-comp-primary-button-text-font-line-height);
  text-decoration: var(--eui-comp-primary-button-text-font-text-decoration);
  letter-spacing: var(--eui-comp-primary-button-text-font-letter-spacing);
  padding-left: var(
    --eui-comp-primary-button-container-padding-large-text-only-left
  );
  padding-right: var(
    --eui-comp-primary-button-container-padding-large-text-only-right
  );
  padding-top: var(
    --eui-comp-primary-button-container-padding-large-text-only-vertical
  );
  padding-bottom: var(
    --eui-comp-primary-button-container-padding-large-text-only-vertical
  );
}

.primary-button-large-text-only:hover {
  background-color: var(--eui-comp-primary-button-container-color-hovered);
}

.primary-button-large-text-only:active {
  background-color: var(--eui-comp-primary-button-container-color-active);
}

.primary-button-large-text-only:focus {
  background-color: var(--eui-comp-primary-button-container-color-focused);
  outline-color: var(--eui-comp-primary-button-container-outline-color);
  outline-width: var(--eui-comp-primary-button-container-outline-width);
  outline-offset: var(--eui-comp-primary-button-container-outline-offset);
}

/*
*****************
-----------------
   OTHER PAGES
_________________
*****************
*/

.page-not-found-content a {
  --ifm-link-decoration: var(--eui-sys-typescale-link-medium-text-decoration);
}
