/* DocSearch overrides */

button.DocSearch {
  background-color: var(--eui-comp-search-container-color-default);
  border: var(--eui-comp-search-container-border-width) solid
    var(--eui-comp-search-container-border-default);
  border-radius: var(--eui-comp-search-container-border-border-radius);
  box-sizing: border-box;
}

button.DocSearch:hover {
  background-color: var(--eui-comp-search-container-color-hovered);
  border-color: var(--eui-comp-search-container-border-hovered);
  box-shadow: none;
}

.DocSearch-Button-Placeholder {
  color: var(--eui-comp-search-placeholder-text-color-default);
  font-family: var(--ifm-font-family-base);
  font-size: var(--eui-comp-search-placeholder-text-font-font-size);
  font-weight: var(--eui-comp-search-placeholder-text-font-font-weight);
  line-height: var(--eui-comp-search-placeholder-text-font-line-height);
  letter-spacing: var(--eui-comp-search-placeholder-text-font-letter-spacing);
}

/* Key command buttons (cmd+k, esc, etc.) */
kbd.DocSearch-Button-Key,
kbd.DocSearch-Commands-Key {
  --docsearch-key-shadow: inset 0 -2px 0 0 var(--eui-comp-search-placeholder-text-color-default),
    inset 0 0 1px 1px var(--eui-comp-search-container-color-default),
    0 1px 1px 1px rgba(91, 91, 91, 0.4);
  background: none;
  box-shadow: var(--docsearch-key-shadow);
  color: var(--eui-comp-search-placeholder-text-color-default);
  font-family: var(--ifm-font-family-base);
}

/* Headers in the search results */
.DocSearch-Hits .DocSearch-Hit-source {
  font-size: var(--eui-sys-typescale-title-small-font-size);
}

.DocSearch-Hit-path {
  --docsearch-muted-color: var(--eui-comp-search-input-text-color-disabled);
}

.DocSearch-Hit-Container {
  --docsearch-hit-color: var(--eui-comp-search-input-text-color-default);
}

span.DocSearch-Label,
p.DocSearch-Help {
  color: var(--eui-comp-search-input-text-color-default);
}

.DocSearch-Container {
  --docsearch-container-background: rgba(91, 91, 91, 0.8);
  background-color: var(--docsearch-container-background);
}

.DocSearch-Modal {
  --docsearch-modal-background: var(--eui-comp-search-container-color-default);
  background: var(--docsearch-modal-background);
}

form.DocSearch-Form {
  --docsearch-searchbox-focus-background: var(
    --eui-comp-search-container-color-focused
  );
  border: var(--eui-comp-search-container-border-width) solid
    var(--eui-comp-search-container-border-focused);
  border-radius: var(--eui-comp-search-container-border-border-radius);
  box-shadow: none;
}

input.DocSearch-Input {
  color: var(--eui-comp-search-input-text-color-default);
  font-weight: var(--eui-comp-search-input-text-font-font-weight);
  line-height: var(--eui-comp-search-input-text-font-line-height);
  letter-spacing: var(--eui-comp-search-input-text-font-letter-spacing);
  text-decoration: var(--eui-comp-search-input-text-font-text-decoration);
}

input.DocSearch-Input::placeholder {
  color: var(--eui-comp-search-placeholder-text-color-default);
  font-weight: var(--eui-comp-search-placeholder-text-font-font-weight);
  line-height: var(--eui-comp-search-placeholder-text-font-line-height);
  letter-spacing: var(--eui-comp-search-placeholder-text-font-letter-spacing);
  text-decoration: var(--eui-comp-search-placeholder-text-font-text-decoration);
}

svg.DocSearch-Search-Icon {
  color: var(--eui-comp-search-leading-icon-color-default) !important;
}

footer.DocSearch-Footer {
  --docsearch-footer-background: var(--eui-comp-search-container-color-focused);
}
