.theme-doc-sidebar-container nav.menu,
button[title="Collapse sidebar"] {
  border-right: 1px solid var(--eui-sys-layout-container-01);
}

.theme-doc-sidebar-container nav.menu,
.navbar--fixed-top {
  background-color: var(--eui-sys-layout-surface-02);
}

/* Collapse sidebar button */
button[title="Collapse sidebar"] {
  background-color: var(--eui-sys-layout-surface-02);
  border-top: none;
}

button[title="Collapse sidebar"]:hover {
  background-color: var(--eui-sys-brand-state-primary-02-hover);
}

button[title="Collapse sidebar"] svg path {
  fill: var(--eui-sys-brand-secondary-01);
}

/* Expand sidebar "button" */
div[title="Expand sidebar"] svg path {
  fill: var(--eui-sys-brand-secondary-01);
}

div[title="Expand sidebar"] {
  background-color: var(--eui-sys-layout-surface-02);
}

div[title="Expand sidebar"]:hover {
  background-color: var(--eui-sys-brand-state-primary-02-hover);
}

.menu__list-item-collapsible--active:has(> a.menu__link--active) {
  background: var(--eui-sys-layout-surface-02);
}
