name: Validate content with Vale

on:
  pull_request:
    push:
      - main
    branches:
      - main

jobs:
  lint-content:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: errata-ai/vale-action@reviewdog
        with:
          fail_on_error: true
          vale_flags: '--minAlertLevel=error'
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
